
/* Will Dayble's a pretty cool guy. Eh designs the whole css and doesn't afraid of anything. Go team Squareweave */

html, body{height: 100%;}

/* z-index'd, together, for evar! */
/* ------------------------------------------------------ */
body{z-index: 100; overflow: hidden;}
.fuckyeah{z-index: 200}

.antisocial{z-index: 300}
.blat,
.miniblat{z-index: 400}
.aboot{z-index: 550;}

.mover{z-index: 888;}

/* some general bits and pieces
/* ------------------------------------------------------ */
a{text-decoration: none;}


body{background: #000; border: 10px solid #000;}

body.download{background: #c00;}

body, input, textarea{font-family: "Courier New", Courier, sans-serif; }

.fuckyeah{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.fuckyeah img{width: 100%;}


.blat{position: absolute; top:50%; left: 50%; width: 608px; height: 608px; margin: -304px 0 0 -304px; background: url(../images/blat_backer.png) no-repeat 0 0}

.blat object,
.blat .download{position: absolute; top:210px; left: 196px; width: 220px; height: 220px;}

.blat .download{font-size: 20px; color: #fff; line-height: 36px; letter-spacing: -1px;}
.blat .download a{text-decoration: underline; color: #ff0; font-weight: bold;}
.blat .download a:hover{text-decoration: none; color: #fff;}
.blat .download strong{font-weight: bold;}

.blat .text{border: 1px solid #2a2a2a; background: #2a2a2a; font-size: 15px; line-height: 20px; color: #0f0; padding: 0; position: absolute; top:457px; left: 309px; width: 80px}
.blat .submit{width:25px; height: 25px; background: url(../images/download.png) no-repeat center; position: absolute; top:453px; left: 391px; opacity: 0.5; cursor: pointer; border: none}
.blat .submit:hover{opacity: 1;}

.blat .wtf{font-size: 9px;display: block; position: absolute; top:472px; left: 195px; color: #ccc; width: 100px}
.blat .wtf:hover{color: #ff0;}
.blat .wtf span{display: none;}

.blat .wtf:hover span{display: block; position: absolute; top:100%; left: 0; margin: 10px 0 0; border: 1px solid #ff0; background: #000; padding: 10px; color: #fff; font-size: 11px; width: 240px; line-height: 18px;}
.aboot .wtf:hover span strong{display: block; font-weight: bold; padding:5px; border-top: 1px solid #333; margin-top: 5px; background: #222;}

.antisocial{position: absolute; bottom: 0; right: 0; background: url(../images/bottom_right.png); width: 341px; height: 145px;}




.aboot{position: absolute; top: 0; left: 0; background: #000; width: 100%;}
.aboot p{ padding: 8px; font-size: 11px;  color: #999; line-height: 14px;}
.aboot a{color: #ccc;}
.aboot .dood{color: #fff;}

.aboot object{float: right; width: 50%}

.aboot form{background: #000 url(../images/floh-top-left.jpg) no-repeat 0 0;  position: absolute; top:100%; left: 0; width: 230px; height: 71px; border: 20px solid #000; border-top-width: 5px; border-bottom-width: 15px;}

.aboot .download a{text-decoration: underline; color: #ff0; font-weight: bold;}
.aboot .download a:hover{text-decoration: none; color: #fff;}
.aboot .download strong{font-weight: bold;}

.aboot .wtf{font-size: 9px;display: block; position: absolute; top:60px; left: 0; color: #ccc; width: 100px}
.aboot .wtf:hover{color: #ff0;}
.aboot .wtf span{display: none;}
.aboot .wtf:hover span{display: block; position: absolute; top:100%; left: 0; margin: 10px 0 0; border: 1px solid #ff0; background: #000; padding: 10px; color: #fff; font-size: 11px; width: 240px; line-height: 18px;}
.aboot .wtf:hover span strong{display: block; font-weight: bold; padding:5px; border-top: 1px solid #333; margin-top: 5px; background: #222;}

.aboot .text{border: 1px solid #2a2a2a; background: #2a2a2a; font-size: 15px; line-height: 20px; color: #0f0; padding: 0; position: absolute; left:112px; top: 44px; width: 80px}
.aboot .submit{width:25px; height: 25px; background: url(../images/download.png) no-repeat center; position: absolute; top:41px; left: 195px; opacity: 0.5; cursor: pointer; border: none}
.aboot .submit:hover{opacity: 1;}

.aboot .playa{position: absolute; top:100%; left: 260px; border: 10px solid #000; right: 0; background: #000; border-top: 0;}
.aboot object{width: 100%;}

.loader{position: absolute; bottom:0; left: 0; height: 5px; width: 100%; bottom: 0;}
.loader .mover{background: #ff0; position: absolute; top:0; left: 0; height: 5px;}

